.container{
    width:1500px;;
    height: 500px;
    border-style: solid;
    border-width: 6px;;
}

.arrange {

    width : 26%;
    height : 30%;
    border-style: solid;
    border-width: 2px;;
    float : left;
    margin-right: 50px;
    margin-top: 50px;;
    margin-left: 50px;
    margin-bottom   : 50px;;

}


.centreButton {

    width : 300px;
    width : 300px;
    border-style: solid;
    border-width: 2px;;
    float : left;
    margin-right: 50px;
    margin-top: 50px;;
    margin-left: 50px;
    margin-bottom   : 50px;;
}


.score {
    width : 300px;
    width : 300px;
    border-style: solid;
    border-width: 2px;;
    margin-right: 50px;
    margin-top: 50px;;
    margin-left: 50px;
    margin-bottom   : 50px;;
}


